<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Akshay_DiscountScheduler::manager" title="Grid Manager" module="Akshay_DiscountScheduler" sortOrder="10" resource="Akshay_DiscountScheduler::manager"/>
        <add id="Akshay_DiscountScheduler::add_row" title="Grid Manager" module="Akshay_DiscountScheduler" sortOrder="20" parent="Akshay_DiscountScheduler::manager" action="discountscheduler/index/index" resource="Akshay_DiscountScheduler::add_row"/>
    </menu>
</config>