<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <preference for="Akshay\DiscountScheduler\Api\Akshay\DiscountSdhedulerInterface" type="Akshay\DiscountScheduler\Model\DiscountScheduler"/> -->
    <virtualType name="Akshay\DiscountScheduler\Model\ResourceModel\DiscountScheduler\DiscountScheduler\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">product_discount_scheduler</argument>
            <argument name="resourceModel" xsi:type="string">Akshay\DiscountScheduler\Model\ResourceModel\DiscountScheduler</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="discountscheduler_record_grid_list_data_source" xsi:type="string">Akshay\DiscountScheduler\Model\ResourceModel\DiscountScheduler\DiscountScheduler\Collection</item>
            </argument>
        </arguments>
    </type>
</config>